#logo {
    width: 100px;
    margin-right: 30px;
}

#issues {
}

#cashflow .chart .line {
    fill: none;
    stroke: #5BC0DE;
    stroke-width: 5px;
}
#cashflow .chart .point {
    stroke: #5BC0DE;
    stroke-width: 5px;
    fill:#5BC0DE;
}

#cashflow .chart .tickPoint {
    stroke: #30d863;
    fill: #30d863;
}

#cashflow .chart .point:hover {
    fill: #dfdfdf;
}

#cashflow path.area {
    fill: rgba(91, 192, 222, 0.36);
}

#cashflow .bubbles line {
    stroke:#5BC0DE;
    stroke-width:10;
}
.circleCashflow {
    fill:#5BC0DE;
}


#issues .bubbles line {
   stroke:#D9534F;
   stroke-width:10;
}
#issues .bubbles circle, .circleIssue {
   fill:#D9534F;
}

#issues .chart .line {
    fill: none;
    stroke: #D9534F;
    stroke-width: 5px;
}
#issues .chart .point {
    stroke: #D9534F;
    stroke-width: 5px;
    fill: #D9534F;
}

#issues .chart .tickPoint {
    stroke: #30d863;
    fill: #30d863;
}

#issues .chart .point:hover {
    fill: #dfdfdf;
}

#issues path.area {
    fill: #FFCAC8;
}

#milestone .chart .line {
    fill: none;
    stroke: #ffd700;
    stroke-width: 5px;
}
#milestone .chart .point {
    stroke: #ffd700;
    stroke-width: 5px;
    fill: #ffd700;
}

#milestone .chart .tickPoint {
    stroke: #30d863;
    fill: #30d863;
}

#milestone .chart .point:hover {
    fill: #dfdfdf;
}

#milestone path.area {
    fill: #fff77c;
}

.circleMilestoneFuture {
	fill: #ffd700;
}

.circleMilestonePast {
	fill: #5CB85C;
}

.circleHole {
	fill: #ffffff;
}

.lineMilestoneFuture {
	stroke:#ffd700;
	stroke-width:10;
}

.lineMilestonePast {
	stroke:#5CB85C;
	stroke-width:10;
}

.close.inline-close {
	float:none;
	position:relative;
	top: 3px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #dfdfdf;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #959595;
}

.x.axis path {
    display: none;
}
.simple-list {
	list-style-type:none;
}
.strike {
    text-decoration:line-through;
}

.positive {
	color:#5CB85C;
}

.negative {
	color:#D9534F;
}

.neutral {
	color:black;
}

.currencyFont {
	font-family: "Georgia";
    font-size: 15px;
	font-weight:bold;
	text-align: right;
}

.moneyInputForm {
	border:none;
	border-bottom:2px dashed;
	outline-width:0;

	width:100px;
}

.explanationInputForm {
	border:none;
	border-bottom:2px solid;
	outline-width: 0;
	overflow: visible;
}

.cashflow td {
	padding: 0 5px;
}

#status {
    padding-left:20px;
}

.status-input {
    position:relative;
    display: inline-block;
}

.status-input textarea {
    resize: none;
    width: 600px;
    height: 50px;
    margin-bottom: 5px;
}

.inside-submit {
    position:absolute;
    bottom:10px;
    right:5px;

    font-size: 10px;
}

#statusSubmitButton {
    padding:3px;
}

.arrow {
    font-size: 20px;
}
#statusList {
    margin-top: 10px;
}

.status-item { 

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: #5CB85C;

    padding: 10px 20px;

    margin-bottom:5px;

    overflow:hidden;

    color:white;
}

.brand {
    float: left;
}
.link {
    margin-top: 28px;
    float:right;
}
.header {
    clear: both;
    overflow: hidden;
}


.greyLine {
    stroke: #dfdfdf;
    stroke-width: 9px;
}
.shown {
    display: block;
}

.hidden {
    display:none;
}

.animation-transition: before {
    content: "asd";
}