#issues {
}
#issues .bubbles line {
   stroke:#D9534F;
   stroke-width:10;
}
#issues .bubbles circle {
   fill:#D9534F;
}

#issues .chart .line {
    fill: none;
    stroke: #D9534F;
    stroke-width: 5px;
}
#issues .chart .point {
    stroke: #D9534F;
    stroke-width: 5px;
    fill: #D9534F;
}

#issues .chart .tickPoint {
    stroke: #30d863;
    fill: #30d863;
}

#issues .chart .point:hover {
    fill: #dfdfdf;
}

#issues path.area {
    fill: #FFCAC8;
}

#milestone .chart .line {
    fill: none;
    stroke: #ffd700;
    stroke-width: 5px;
}
#milestone .chart .point {
    stroke: #ffd700;
    stroke-width: 5px;
    fill: #ffd700;
}

#milestone .chart .tickPoint {
    stroke: #30d863;
    fill: #30d863;
}

#milestone .chart .point:hover {
    fill: #dfdfdf;
}

#milestone path.area {
    fill: #fff77c;
}

.circleMilestoneFuture {
	fill: #ffd700;
}

.circleMilestonePast {
	fill: #99cc32;
}

.circleHole {
	fill: #ffffff;
}

.lineMilestoneFuture {
	stroke:#ffd700;
	stroke-width:10;
}

.lineMilestonePast {
	stroke:#99cc32;
	stroke-width:10;
}

.close.inline-close {
	float:none;
	position:relative;
	top: 3px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #dfdfdf;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #959595;
}

.x.axis path {
    display: none;
}
.simple-list {
	list-style-type:none;
}
.strike {
    text-decoration:line-through;
}

.positive {
	color:blue;
}

.negative {
	color:red;
}

.neutral {
	color:black;
}

.currencyFont {
	font-family: "Comic Sans MS" Arial;
	font-weight:bold;
	font-size: 16px;
	text-align: right;
}

.moneyInputForm {
	border:none;
	border-bottom:2px dashed;
	outline-width:0;

	width:100px;
}

.explanationInputForm {
	border:none;
	border-bottom:2px solid;
	outline-width: 0;
	overflow: visible;
}

.cashflow td {
	padding: 0 5px;
}