#issues {
}
#issues line {
   stroke:#D9534F;
   stroke-width:10;
}
#issues circle {
   fill:#D9534F;
}

.close.inline-close {
	float:none;
	position:relative;
	top: 3px;
}

.simple-list {
	list-style-type:none;
}