<html ng-app="dashboard">
<head>
	<title>Entrepreneur dashboard</title>
	<link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

  <script src="components/d3/d3.min.js"></script>
	<script type="text/javascript" src="components/jquery/jquery.min.js"></script>
  <script src="components/angular/angular.js"></script>
  <script src="components/moment/moment.js"></script>
  <script src="js/app.js"></script>
	
</head>

<body>
<div class="container">
	<div class="col-lg-8 col-lg-offset-2">
		<h3>Entrepreneur dashboard</h3>
		<hr>
		<div class="box" id="issues" ng-controller="IssuesController">

			<h4 class="align-center">Issues</h4>

        <svg xmlns="http://www.w3.org/2000/svg" class="content" ng-attr-height="{{  (issuesService.issues.length+1) * 50 }}">
          <g>
            <line ng-attr-x1="{{ 40/2 }}" y1="1" ng-attr-x2="{{ 40/2 }}" ng-attr-y2="{{ (issuesService.issues.length+1) * 50 - 20 }}"/>
          </g>

          <g>
            <circle class="circleIssue" cx="20" ng-attr-cy="{{ 20 }}" r="20"></circle>
            <foreignobject x="50" ng-attr-y="{{ 10 }}" width="100%" height="180">
              <input type="text" placeholder="New issue encountered" ng-model="newIssue.text" ng-enter="addIssue(newIssue)">
            </foreignobject>

          </g>

          <g ng-repeat="issue in issuesService.issues | orderBy:'time':true">
            <circle class="circleIssue" cx="20" ng-attr-cy="{{ calculateCircleY($index+1) }}" r="20"></circle>
            <foreignobject x="50" ng-attr-y="{{ (($index+1)*50) + 10 }}" width="100%" height="180">
              <span class="label label-danger">{{ issue.time | fromNow }}</span>
              {{issue.text}} &nbsp; 
              <span class="close inline-close" ng-click="deleteIssue($index)">&times;</span>
            </foreignobject>

          </g>
        </svg>

      <div d3-issues></div>
		</div>
	</div>
</div>

</body>
</html>
